$background-color: #102542;
$highlight-color: #F87060;
$text-color: #CDD7D6;
$tertiary-color: #B3A394;
$white: #fff;


.title {
  color: $text-color;
  font-family: Arial, Helvetica, sans-serif;
  
}
